/* Wofi Theme: Philadelphia Union */
window {
  background-color: #071B2C;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #071B2C;
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #114f84;
  color: #7f9900;
}

#input {
  background-color: #071B2C;
  color: #ffffff;
  border: 2px solid #7f9900;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #ffffff;
}

#text:selected {
  color: #7f9900;
}
