/* Wofi Theme: ice cream - Ice Cream Delight */
window {
  background-color: #f9c8d4;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #f9c8d4;
  color: #1a1a1a;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #f36c8d;
  color: #5cb4ff;
}

#input {
  background-color: #f9c8d4;
  color: #1a1a1a;
  border: 2px solid #5cb4ff;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #1a1a1a;
}

#text:selected {
  color: #5cb4ff;
}
