/* Wofi Theme: vaporwave - Vaporwave */
window {
  background-color: #ff75ff;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ff75ff;
  color: #1a1a1a;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #ff13ff;
  color: #0fffb9;
}

#input {
  background-color: #ff75ff;
  color: #1a1a1a;
  border: 2px solid #0fffb9;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #1a1a1a;
}

#text:selected {
  color: #0fffb9;
}
