/* Wofi Theme: coconut - Strawberry & Coconut */
window {
  background-color: #ff6e61;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #ff6e61;
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #fe1500;
  color: #6182ff;
}

#input {
  background-color: #ff6e61;
  color: #ffffff;
  border: 2px solid #6182ff;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #ffffff;
}

#text:selected {
  color: #6182ff;
}
