/* Wofi Theme: Rose Pine Official */
window {
  background-color: #191724;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #191724;
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #403964;
  color: #347b26;
}

#input {
  background-color: #191724;
  color: #ffffff;
  border: 2px solid #347b26;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #ffffff;
}

#text:selected {
  color: #347b26;
}
