/* Wofi Theme: Philadelphia 76ers */
window {
  background-color: #264c66;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #264c66;
  color: #ffffff;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #3b82b3;
  color: #bfd51d;
}

#input {
  background-color: #264c66;
  color: #ffffff;
  border: 2px solid #bfd51d;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #ffffff;
}

#text:selected {
  color: #bfd51d;
}
