/* Wofi Theme: sunset - Rodeo Sunset */
window {
  background-color: #dac6b9;
}

#entry {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  background-color: #dac6b9;
  color: #1a1a1a;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

#entry:selected {
  background-color: #bd9174;
  color: #6456d7;
}

#input {
  background-color: #dac6b9;
  color: #1a1a1a;
  border: 2px solid #6456d7;
  padding: 6px;
  margin: 5px;
}

#text {
  color: #1a1a1a;
}

#text:selected {
  color: #6456d7;
}
